* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(204, 43%, 93%);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.3fr;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 50px hsl(218, 22%, 67%);
}

section {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: hsla(203, 44%, 93%, 0.863);
  line-height: 24px;
}

.section-1 {
  background-color: #fff;
  grid-column: 1/-1;
  color: hsl(218, 22%, 67%);
  padding-right: 100px;
}

.section-2 {
  background-color: hsl(179, 62%, 43%);
  padding-right: 60px;
}

.section-3 {
  background-color: hsla(179, 62%, 43%, 0.856);
  padding-right: 100px;
}

.section-1 h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 10px;
}

.section-1 .sub-head {
  color: hsl(71, 73%, 54%);
  font-weight: bold;
}

.section-2 .sub-head {
  color: hsl(204, 43%, 93%);
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

.section-3 .sub-head {
  color: hsl(204, 43%, 93%);
  font-weight: bold;
  font-size: larger;
}

.signup {
  background-color: hsl(71, 73%, 54%);
  text-decoration: none;
  color: hsl(204, 43%, 93%);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 15px hsl(156, 2%, 47%);
}

strong {
  color: #fff;
  font-size: x-large;
}

p {
  letter-spacing: 0.3px;
}

.p-dim {
  color: hsla(203, 44%, 93%, 0.534);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 425px) {
  body {
    background-color: yellow;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c";
  }
  .container {
    margin: 50px 10px;
  }
}
